# Configuration de l'environnement
FLASK_APP=run.py
FLASK_ENV=development
FLASK_CONFIG=development

# Base de données
DATABASE_URL=postgresql://username:password@localhost/erp_microfinance_dev
DEV_DATABASE_URL=postgresql://username:password@localhost/erp_microfinance_dev
PROD_DATABASE_URL=postgresql://username:password@localhost/erp_microfinance_prod

# Clé secrète (changer en production!)
SECRET_KEY=votre-cle-secrete-tres-longue-et-compliquee

# Configuration email (optionnel)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=votre-email@gmail.com
MAIL_PASSWORD=votre-mot-de-passe-app
